.root{
    -fx-font-family: 'Cafe24 Ssurround';
    font-weight: normal;
    font-style: normal;
}

.main {
    -fx-background-image: url(Images/gradation.jpg);
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.button {
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#ffffff, #fff8e7);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6), 5, 0, 0, 1 );
}
.button:hover {
    -fx-background-color: linear-gradient(#ffffff, #eee9de);
}
