.root{
    -fx-font-family: 'Cafe24 Ssurround';
    -fx-background-image: url(Images/gradation.jpg);
    -fx-background-size: cover;
    -fx-background-position: center center;
}

#btn_registerImg {
    -fx-background-color: #eae9e9;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6), 2, 0, 0, 1 );
    -fx-background-image: url("Images/photo.png");
    -fx-background-size: 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90%;
    -fx-background-position: center center;
}

.btn_registerImg :hover {
    -fx-background-color: #eee9de;
}

Text {
    -fx-font-family: 'Cafe24 Ssurround';
}